footer{
    background: $dark;
    color: $white;
    padding:5em 0;
    position: relative;
    &::before{
        content: "";
        display: block;
        position: absolute;
        background-image: url("../img/logo.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        top:0;
        right:0;
        left:0;
        bottom: 0;
        opacity: .075;
    }
    a{
        color:$white;
        text-decoration: none;
        font-weight: $font-bold;
    }
}
.title-footer{
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1;
    &::before,&::after{
        content: "";
        display: block;
        height: 1px;
        background-color: $text-inverse;
        opacity:0.25;
        margin: .75em 0;
    }
}
.social-links{
    display: flex;
    font-size: 3rem;
    margin: 0.7em 0;
    justify-content: space-around;
    opacity: 0.8;
}
.nav-footer{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto ;
}
.container--footer{
    width: 25em;
}