
.promo{
    .bg-primary{
        text-align: left;
        padding-left: 7%;
        padding-top: 10em;
    }
}

.img-box{
    background-image: url("../img/phone-in-hand.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}